<h4>
    Staff were trained in the areas listed:
</h4>
<div *ngFor="let t of topics;let num=index">
    <div>{{num+1}}-{{t}}</div>
</div>
<!--<br>
<div *ngFor="let subject of staffPerTopic">
    <h5 class="ui header">{{subject.topic}}</h5>


    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>

        <tr *ngFor="let sta of subject.staff">
            <td>{{sta.name}}</td>
            <td>{{sta.Department}}</td>
        </tr>
    </table>

</div>-->