<h2>
    Nlic/Ministry staff
    <button mat-raised-button (click)="addStaff()">Add-staff</button>

</h2>

<table class="ui celled table">
    <thead>
        <tr>

            <th>Title</th>
            <th>Name</th>
            <th>Department</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tr *ngFor="let s of staff">
        <td><input type="text" [(ngModel)]="s.Title" [disabled]="!s.isEditable"> </td>
        <td><input type="text" [(ngModel)]="s.Name" [disabled]="!s.isEditable"></td>
        <td><input type="text" [(ngModel)]="s.Department" [disabled]="!s.isEditable"></td>
        <td>
            <div>
                <button mat-raised-button (click)="editStaff()">Edit</button>
                <button mat-raised-button (click)="deleteStaff()">Delete</button>
            </div>
        </td>
    </tr>
</table>

{{deleteStaff()}}